extends layout

block content
    div
        form(action='auth', method='post')
            button(type='submit', class='login-button').
                Poll Resource Guru
    div
        form(action='email', method='post')
            button(type='submit').
                Send Email
    div
        form(action='auth?method=update', method='post')
            button(type='submit').
                Update Cache
