extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        form(action='auth', method='post')
            div(class='form-group') Username
                input(type='text', name='user', class='login-text')
            div(class='form-group') Password
                input(type='password', name='pass', class='login-text')
            button(type='submit', class='login-button').
                Login
