body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.booking {
    border: 1px solid;
}

.field {
    display: block;
}

.field-title {

}

.field-content {
    text-align: right;
    float: right;
}

.booking-content {
    text-align: right;
}
